html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1.33333px;

    span {
        color: #0764E3;
    }
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1A1A1A;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    cursor: pointer;
    outline: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.suptitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.583333px;
    text-transform: uppercase;
    color: #595959;
}

.btn {
    background-color: #0764E3;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.583333px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 16px 18px;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        background-color: #065CD0;
    }
}

.text {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: #595959;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.583333px;
    color: #0764E3;
    transition: all .4s;

    &:hover {
        color: #065CD0;
        transform: translateY(-5px)
    }
}

.menu {
    align-items: center;
    display: none;
}

.menu__btn {
    width: 21px;
    z-index: 10;
    position: relative;

    div {
        height: 3px;
        background-color: #0764E3;
    }

    div+div {
        margin-top: 5px;
    }
}

.menu__btn-line {
    transition: all .3s;
}

.menu__btn-line:nth-child(1).active {
    transform: rotate(45deg);
}

.menu__btn-line:nth-child(2).active {
    opacity: 0;
}

.menu__btn-line:nth-child(3) {
    opacity: 0;
    position: absolute;
    width: 21px;
    top: 3px;
}

.menu__btn-line:nth-child(3).active {
    display: block;
    top: -5px;
    transform: rotate(-45deg);
    opacity: 1;
    right: 0px;
}


.fancybox-caption,
.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: none;
}

.fancybox-button {
    background-color: transparent;
}

.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 10px;
    right: -60px;
    top: 0;
}

.fancybox-button svg path {
    fill: #fff;
}

.fancybox-infobar,
.fancybox-toolbar {
    display: none;
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: calc(50% - 550px);
    padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: calc(50% - 550px);
    padding: 31px 26px 31px 6px;
}

.fancybox-button {
    cursor: pointer;

    svg path {
        transition: all .4s;
    }

    &:hover {
        svg path {
            fill: #0764E3;
        }

    }
}