@media(max-width: 1200px) {
    .container {
        padding: 0 15px;
    }

    .benefits__items {
        justify-content: center;
    }

    .benefits__item:nth-child(1),
    .benefits__item:nth-child(2),
    .benefits__item:nth-child(3) {
        padding-bottom: 30px;
    }

    .benefits__item:nth-child(1),
    .benefits__item:nth-child(4) {
        padding-left: 30px;
    }

    .benefits__item:nth-child(4),
    .benefits__item:nth-child(5),
    .benefits__item:nth-child(6) {
        padding-top: 30px;
    }

    .benefits__item {
        padding: 30px;
    }

    .feedback__form-input {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    .feedback__suptitle {
        margin-bottom: 62px;
    }

    .feedback__form-input+.feedback__form-input {
        margin-left: 0px;
    }

    .feedback__form-textarea {
        margin-top: 66px;
    }
}

@media(max-width: 1150px) {
    .main__intro {
        position: relative;
        padding-bottom: 25.25%;
    }

    .benefits__item:nth-child(2),
    .benefits__item:nth-child(5) {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .benefits__item:nth-child(6) {
        border-bottom: none;
    }

    .benefits__item:nth-child(odd) {
        border-right: 2px solid #F6F4F3;
    }

    .benefits__item,
    .benefits__item:nth-child(2) {
        border-bottom: 2px solid #F6F4F3;
    }

    .footer__wrapper {
        justify-content: space-between;
    }

    .footer__social {
        margin-left: 100px;
    }

    .footer__social-link.whatsapp {
        margin: 0 9px;
    }

    .footer__logo {
        margin-right: 60px;
    }
}

@media(max-width: 1024px) {


    .about__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        max-width: 100%;
    }

    .about__title {
        max-width: 100%;
        margin: 13px 0 27px;
    }

    .about__inner {
        justify-content: center;
        margin-bottom: 30px;
    }

    .slick-dots {
        display: flex;
        bottom: -45px;
        position: absolute;
        padding: 0;
        left: 0;
        right: 0;
        justify-content: center;
    }

    .slick-dots li button {
        font-size: 0;
        background-color: #C1D8F8;
        border-radius: 1.5px;
        width: 15px;
        height: 4px;
        border: none;
    }

    .slick-dots .slick-active button {
        background-color: #0764E3;
    }

    .slick-dots li+li {
        margin-left: 3px;
    }

    .example__item {
        margin-right: 20px;
    }

    .reviews__wrapper {
        flex-direction: column;
    }

    .reviews__text {
        max-width: 100%;
    }

    .reviews__link {
        margin-bottom: 20px;
    }

    .contacts__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts__map {
        margin-top: 32px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .case__item-title {
        font-size: 18px;
        line-height: 31px;
    }

    .case__item {
        padding: 28px 17px 32px 44px;
    }

    .case__item-link {
        width: 200px;
    }

    .criminal__form-img {
        position: absolute;
        right: -80px;
        bottom: -170px;
    }

    .services__items {
        flex-direction: column;
        align-items: flex-start;
    }

    .services__item {
        margin-bottom: 25px;
    }

    .main {
        height: auto;
    }

    .main__inner {
        margin-bottom: 70px;
    }

    .main__form-phone {
        display: none;
    }

    .main__form {
        background: transparent;
        padding: 0;
    }

    .main__intro {
        padding-bottom: 26.25%;
    }

    .main__form-descr {
        display: none;
    }
}

@media(max-width: 1023px) {
    .footer__links {
        display: none;
    }

    .footer__wrapper {
        align-items: flex-end;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: #0764E3;
            top: 50%;
        }
    }

    .footer__media {
        border: none;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .logo img {
        width: 47px;
    }

    .menu__list {
        display: none;
    }

    .menu__list.active {
        display: block;
        padding: 0;
        padding-top: 84px;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #fff;
        text-align: center;
        z-index: 5;
    }

    .menu__link a {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }

    .menu__link a.active {
        border-bottom: 2px solid #0764E3;
    }

    .menu__link+.menu__link {
        margin-left: 0;
        margin-top: 24px;
    }

    .menu {
        display: flex;
    }

    .logo.active {
        z-index: 10;

        img {
            width: 31px;
        }
    }

    .menu__links-social {
        display: inline-block;
        margin-top: 46px;
    }

    .menu__link-social {
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: #0764E3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu__link-social.instagram {
        margin-right: 11px;
    }

    .benefits {
        padding: 37px 0;
    }

    .benefits__item {
        text-align: center;
    }

    .benefits__item-title {
        margin: 23px auto;
    }

    .benefits__item:nth-child(odd) {
        border-right: none;
    }

    .benefits__item:first-child,
    .benefits__item:last-child {
        border-top: 2px solid #F6F4F3;
    }

    .benefits__item:last-child {
        border-bottom: 2px solid #F6F4F3;
    }

    .benefits__icon img {
        width: 60px;
    }

    .example__items {
        padding-left: 160px;
        padding-right: 160px;
    }

    .example__item {
        padding: 28px 31px 41px 31px;
    }

    .example__item-title {
        margin-bottom: 42px;
    }

    .about {
        padding: 37px 0 33px;
    }

    .reviews__tab-mails {
        display: block;
        flex-wrap: nowrap;
        padding: 0 50px;

    }

    .reviews__tab-review,
    .reviews__tab-mail {
        margin: 0 10px;
    }

    .reviews__tab-mail {

        width: 258px;
        height: 258px;
        padding: 40px 65px;

        img {
            width: 127px;
        }
    }

    .reviews__tab-mail:nth-child(2),
    .reviews__tab-mail:nth-child(5) {
        margin-left: 0;
        margin-right: 0;
    }

    .reviews__tab-mail:nth-child(1),
    .reviews__tab-mail:nth-child(2),
    .reviews__tab-mail:nth-child(3) {
        margin-bottom: 0px;
    }

    .reviews {
        position: relative;
        padding: 22px 0 98px;
    }

    .reviews__link {
        position: absolute;
        bottom: 35px;
        left: 30px;
        margin-bottom: 0;
    }

    .reviews__title {
        margin-bottom: 25px;
    }

    .reviews__text {
        margin-bottom: 23px;
    }

    .feedback__title,
    .feedback__suptitle {
        text-align: center;
    }

    .feedback__form-box {
        display: block;
    }

    .feedback__form-box:nth-child(2) {
        margin: 0 0 8px;
    }

    .case__item {
        margin-bottom: 34px;
        position: relative;
    }

    .case__item-link {
        position: absolute;
        bottom: -27px;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        display: block;
    }

    .criminal__title {
        margin-bottom: 20px;
    }

    .criminal__form-inner {
        padding: 28px 26px 360px;
    }

    .criminal__form-img {
        position: absolute;
        right: 240px;
        bottom: -174px;
        width: 428px;
        text-align: center;
    }

    .criminal__box {
        display: none;
    }

    .criminal__form-title {
        max-width: 94%;
    }

    .main {
        background-image: url(../images/main-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        height: 480px;
    }

    .main__video-bg {
        display: none;
    }

    .main__intro {
        padding-bottom: 244px;
    }

    .benefits__title {
        margin: 8px 0 20px;
    }
}

@media(max-width: 620px) {
    h1 {
        font-size: 20px;
        line-height: 28px;
    }

    h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .suptitle {
        font-size: 12px;
        line-height: 16px;
    }

    .text,
    .benefits__item-text {
        font-size: 12px;
        line-height: 23px;
        font-weight: 400;
    }

    .btn {
        font-size: 12px;
        line-height: 16px;
        padding: 14px 16px;
    }

    .benefits__item {
        width: 70%;
    }

    .benefits__items {
        margin-top: 30px;
    }

    .about__title {
        max-width: 200px;
        width: 100%;
    }

    .about__text {
        margin-bottom: 11px;
    }

    .about__experience span {
        display: block;
        width: 171px;
    }

    .about__link-instagram {
        margin: 0 15px 0 0px;
    }

    .about__img img {
        width: 233px;
    }

    .about__img::before {
        right: -24px;
        bottom: -20px;
        width: 218px;
        height: 288px;
    }

    .about__experience {
        font-size: 60px;
        line-height: 73px;

        span {
            font-size: 12px;
            line-height: 16px;
        }
    }

    .about__link {
        display: none;
    }

    .about__link.adaptive {
        display: block;
        margin: 42px 0 0;
    }

    .example__title {
        margin: 8px 0 20px;
    }

    .example__items {
        padding-left: 120px;
        padding-right: 120px;
    }

    .example__item-title {
        margin-bottom: 5px;
    }

    .example__text {
        margin-bottom: 23px;
    }

    .example__item-title,
    .example__item-text,
    .example__item-link,
    .example__item-descr {
        font-size: 12px;
        line-height: 23px;
    }

    .example__item-text {
        margin-bottom: 10px;
    }

    .reviews .tab {
        font-size: 12px;
        line-height: 16px;
    }

    .feedback__form-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .feedback__form-label {
        font-size: 12px;
    }

    .feedback__form-box {
        margin-bottom: 8px;
    }

    .feedback__form-btn {
        margin-top: 8px;
    }

    .feedback__form-descr {
        margin: 19px 0 25px;
    }

    .footer__social {
        margin-left: 0;
    }

    .footer__logo {
        font-size: 15px;
        line-height: 20px;
        margin-right: 0;
        margin-bottom: 50px;

        img {
            width: 27px;
        }
    }

    .footer__copy,
    .footer__creator {
        font-size: 8px;
        line-height: 10px;
    }

    .footer__copy span {
        font-size: 6px;
        letter-spacing: 0.7125px;
    }

    .footer__creator {
        margin-top: 7px;
    }

    .footer__media {
        padding-top: 0;
    }

    .footer__social-link.whatsapp {
        margin: 0 0px;
    }

    .footer__social-link {
        width: 24px;
        height: 24px;
        padding: 3px;
        text-align: center;

        img {
            width: 10px;
        }
    }

    .contacts__title {
        margin-bottom: 14px;
    }

    .contacts__suptitle,
    .contacts__text {
        font-size: 12px;
        line-height: 17px;
    }

    .contacts__phone {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .contacts__text {
        margin-bottom: 11px;
    }

    .contacts {
        padding: 105px 0 0px;
    }

    .case__item-title {
        font-size: 11px;
        line-height: 23px;
        margin-bottom: 28px;
        letter-spacing: normal;
    }

    .case__item-heading {
        font-size: 12px;
        line-height: 23px;
        text-transform: inherit;
    }

    .case__item-text {
        margin-bottom: 23px;
    }

    .case__item {
        padding: 28px 27px 10px 31px;
    }

    .case__item-link {
        bottom: -28px;
    }

    .case__title {
        margin-bottom: 26px;
    }

    .case {
        padding: 109px 0 35px;
    }

    .criminal__text {
        margin-bottom: 17px;
    }

    .criminal__title-categories {
        margin: 20px 0;
        letter-spacing: normal;
    }

    .criminal__categorie {
        font-size: 12px;
        line-height: 18px;
    }

    .criminal__title.second {
        letter-spacing: normal;
    }

    .criminal__categories {
        flex-direction: column;
        align-items: flex-start;
    }

    .criminal__categorie {
        padding-left: 26px;
        width: 178px;
        margin-bottom: 9px;
    }

    .criminal__categorie::before {
        width: 14px;
        height: 14px;
        top: 10px;
    }

    .criminal__categorie::after {
        background: #0764E3;
        width: 6px;
        height: 6px;
        top: 14px;
        left: 4px;
    }

    .criminal__stages-title {
        margin: 20px 0;
        letter-spacing: normal;
    }

    .criminal__stages-heading,
    .criminal__stages-number {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: normal;
    }

    .criminal__stages-number {
        margin-right: 16px;
    }

    .criminal__stages-text {
        margin: 19px 0 49px 39px;
    }

    .criminal__stages-number::before {
        height: 110px;
        top: 25px;
        left: 6px;
    }

    .criminal__line-5::before {
        height: 0;
    }

    .criminal__line-4::before {
        height: 100px;
    }

    .criminal__form-img {
        right: 150px;
    }

    .criminal__form-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
    }

    .criminal__form-input {
        padding: 12px 28px;
    }

    .criminal__form-text {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.25px;
        margin-bottom: 13px;
    }

    .services__item-title {
        width: 139px;
    }

    .main__intro {
        padding-bottom: 294px;
    }

    .main__title {
        max-width: 350px;
        margin-bottom: 21px;
    }

    .main__suptitle {
        width: 200px;
    }

    .main__inner {
        margin-bottom: 20px;
    }

    .about__inner {
        width: 220px;
        flex-wrap: wrap;
    }

    .about__experience-text {
        order: 1;
        width: 198px;
    }

    .about__experience {
        margin-right: 15px;
    }
}

@media(max-width: 500px) {
    .benefits__item {
        width: 100%;
        padding: 34px 10px 30px;
    }

    .benefits__item:nth-child(1),
    .benefits__item:nth-child(4) {
        padding-left: 0px;
    }

    .benefits__item:nth-child(1),
    .benefits__item:nth-child(4) {
        padding-left: 10px;
    }

    .services__link {
        border: none;
        border-radius: 0;
        border-bottom: 1.3px solid #0764E3;
        font-size: 12px;
        line-height: 14px;
        padding: 0;
    }

    .example__items {
        padding-left: 40px;
        padding-right: 40px;
    }

    .feedback {
        padding: 25px 0 28px;
    }

    .feedback__form-descr {
        display: none;

        &.adaptive {
            font-size: 10px;
            line-height: 12px;
            display: block;
            width: 183px;
        }
    }

    .criminal__stages-text {
        margin: 19px 0 20px 39px;
    }

    .criminal__stages-number::before {
        height: 121px;
    }

    .criminal__line-4::before {
        height: 100px;
    }

    .criminal__line-4::before {
        height: 73px;
    }

    .criminal__line-5::before {
        height: 0;
    }

    .criminal__form-img {
        right: 110px;
    }

    .criminal__form-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .criminal__form-btn {
        margin-top: 10px;
    }

    .criminal__form-descr {
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.32);
    }
}


@media(max-width: 425px) {
    .example__items {
        padding-left: 20px;
        padding-right: 20px;
    }

    .reviews__tab-mails {
        padding: 0 49px;
    }

    .criminal__form-img {
        right: 71px;
    }
}

@media(max-width: 375px) {
    .example__items {
        padding-left: 0px;
        padding-right: 0px;
    }

    .example__item {
        margin-right: 5px;
        padding: 28px 20px 41px 20px;
    }

    .reviews__tab-mails {
        padding: 0 25px;
    }

    .criminal__form-img {
        right: 51px;
    }

}

@media(max-width: 340px) {
    .reviews__tab-mails {
        padding: 0 0px;
    }

    .criminal__stages-number::before {
        height: 166px;
    }

    .criminal__line-4::before {
        height: 100px;
    }

    .criminal__line-5::before {
        height: 0;
    }

    .criminal__line-3::before {
        height: 220px;
    }

    .criminal__form-img {
        right: 26px;
    }
}